
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "./base/reset";
@import "./utilities/mixins";
@import "./utilities/variable";
@import "./layout/header";
@import "./layout/main-index";
@import "./layout/footer";
@import "./layout/main-productos";
@import "./layout/main-editoriales";
@import "./layout/main-contacto";
@import "./layout/main-resenias";

body {
  background-color: map-get($map: $estilos , $key: color);
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
}

